[submodule "Vendors/wil"]
	path = Vendors/wil
	url = https://github.com/microsoft/wil.git
[submodule "Vendors/nanosvg"]
	path = Vendors/nanosvg
	url = https://github.com/memononen/nanosvg.git
[submodule "Vendors/harfbuzz"]
	path = Vendors/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz
